.paid {
	background-color: #8be68b !important;
}

.unpaid {
	background-color: #ffa292 !important;	
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}